<html>
  <body>
    <form action="/action_page.php">
      Username: <input type="text" name="username"><br>
      Password: <input type="text" name="password"><br>
      Organization name: <input type="text" name="name"><br>
      Description: <input type="text" name="description"><br>
      <input type="submit" value="create">
    </form>

    <li><a href = "/">Home Page</a></li>
    <li><a href = "/mission">Get Mission Statement</a></li>
    <li><a href = "/login">Login</a></li>
    <li><a href = "/creater">Create Account</a></li>
    <li><a href = "/info ">Get Information</a></li>
  </body>
</html>
