<html>
<head>Food Back</head>
  <banner>Please share the site. Spread the word!
  </banner>

  <body>

    <div class="getInfo">
      <button onclick="getInformation()">Get Information</button>
    <div>
    <div class = "getDeals">
      <button onclick="getDeals()">Get Deals</button>
      <p id= "tana"></p>
    </div>
    <script>
      function getInformation() {
         document.getElementById("tana").innerHTML = "Hello World";
      }
      function getDeals(){
          document.getElementById().innerHTML = "This works?";
      }
      </script>

  </body>
</html>
