<html>
<head>
    <h1>Food Back</h1>
</head>
    <body>
        <div id = "banner">
            <h2>Please share the site. Spread the word!</h2>
        </div>

        <div = "sideBar">
          <div = "links">
           <ul>
              <li><h3><a href = "/maps">Get Deals</a></h3></li>
              <li><h3><a href = "/mission">Get Mission Statement</a></h3></li>
              <li><h3><a href = "/login">Login</a></h3></li>
              <li><h3><a href = "/create">Create Account</a></h3></li>
            </ul>
          </div>
        </div>

    </body>
</html>
