<html>
  <body>
    <h1>Information</h1>
    <p>
      We are here to help you. Make sure you are taking in enough vitamins for your diet
      <br/>
      Look after yourself and your health.
      <br/>
      Here are some tips and tricks to help keep you happy and healthy.
      <br/>
      We hope to improve your standard of living one food group at a time.

    </p>

    <p>
      Here are some links that might help. If you feel sad or upset, make sure to take care of your mental health as well.
      <a href = "https://suicideprevention.ca/need-help/?fbclid=IwAR1BFoevJEk41samLKT8LbfGbiAVy46je9Y7ZZIRoDqOjxo2ZNPkomgbus8">Get help here</a>
      <a href = "http://canatc.ca/?fbclid=IwAR1xUxHsSepnGB8TXi4l_wLyEV1fgy4Zfe9e_aE1sdZCr_04cTEDBZyf2rE">Addiction Treatment</a>
    </p>

    <img src = "images/triangle.png">
    <li><a href = "/">Home Page</a></li>
    <li><a href = "/mission">Get Mission Statement</a></li>
    <li><a href = "/login">Login</a></li>
    <li><a href = "/creater">Create Account</a></li>
    <li><a href = "/info ">Get Information</a></li>
  </body>
</html>
