<html>
  <body>

    <form action="/action_page.php">
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Submit">
    </form>

    <li><a href = "/">Home Page</a></li>
    <li><a href = "/mission">Get Mission Statement</a></li>
    <li><a href = "/login">Login</a></li>
    <li><a href = "/create">Create Account</a></li>
    <li><a href = "/info">Get Information</a></li>
  </body>
</html>
