<head>
  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
    <style>

      
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

    </style>
    
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <li><a href = "/info ">Get Information</a></li>
    <script>

// Initialize and add the map
function initMap() {
  // The location of toronto

  var uluru = {lat: 43.620, lng: -79.513199};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 12, center: uluru});

  
      // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
  
  var home2 = {lat: 43.610, lng: -79.523199};
  var marker = new google.maps.Marker({position: home2, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    * API CODE IMPORTANT, unique for vfewa
  -->
    <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDttGd62CiNdXM_C4oyU78vJaVcrT4BFdA&callback=initMap">
    </script>
  </body>
</html>
