<html>
  <body>
    <div id = "missionStatement">
      <h1>Our Mission Statement</h1>
      <p>
        <br/>
        We work with companies to inform the homeless on nutrituous food available
        near them and the nutrients their bodies need to avoid being seriously ill.
        We are an informative pillar in helping the homeless with their health,
        be it food, mental, or addiction related.
        <br/>
        By helping the homeless help themselves, we empower the vulnerable
        with the information to live a healthier life.
        <br/>
        See the positive change you can make with FoodBack!
      </p>
    </div>
    <div id= "links">
      <li><a href = "/info ">Get Information</a></li>
    <div>
  <!body>
<!html>
